{
  "IsEncrypted": false,
  "Values": {
    "NODE_TLS_REJECT_UNAUTHORIZED": 0,
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "NODE_ENV": "development",
    "AzureFunctionsJobHost__logging__logLevel__Function": "Trace",
    "CosmosDbEndpoint__accountEndpoint": "COSMOS_DB_ENDPOINT",
    "CosmosDbDatabaseName": "COSMOS_DB_DATABASE_NAME",
    "CosmosDbRequestTimeout": "COSMOS_DB_REQUEST_TIMEOUT",
    "FederationEntityBasePath": "FEDERATION_ENTITY_BASE_PATH",
    "FederationEntityOrganizationName": "FEDERATION_ENTITY_ORGANIZATION_NAME",
    "FederationEntityHomepageUri": "FEDERATION_ENTITY_HOMEPAGE_URI",
    "FederationEntityPolicyUri": "FEDERATION_ENTITY_PRIVACY_URI",
    "FederationEntityTosUri": "FEDERATION_ENTITY_TOS_URI",
    "FederationEntityLogoUri": "FEDERATION_ENTITY_LOGO_URI",
    "FederationEntityContacts": "FEDERATION_ENTITY_CONTACTS",
    "FederationEntitySigningKeys": "ARRAY_OF_WALLET_KEYS_IN_JWK_FORMAT_BASE64_ENCODED",
    "WalletProviderSigningKeys": "WALLET_PROVIDER_SIGNING_KEYS",
    "IosBundleIdentifiers": "APPLE_WALLET_INSTANCE_BUNDLE_IDENTIFIERS_SEPARATED_BY_COMMA",
    "AndroidBundleIdentifiers": "ANDROID_WALLET_INSTANCE_BUNDLE_IDENTIFIERS_SEPARATED_BY_COMMA",
    "AndroidPlayStoreCertificateHash": "ANDROID_WALLET_INSTANCE_PLAY_STORE_CERTIFICATE_SHA256",
    "IosTeamIdentifier": "IO_TEAM_IDENTIFIER",
    "AppleRootCertificate": "-----BEGIN CERTIFICATE-----\nMIICITCCAaegAwIBAgIQC/O+DvHN0uD7jG5yH2IXmDAKBggqhkjOPQQDAzBSMSYwJAYDVQQDDB1BcHBsZSBBcHAgQXR0ZXN0YXRpb24gUm9vdCBDQTETMBEGA1UECgwKQXBwbGUgSW5jLjETMBEGA1UECAwKQ2FsaWZvcm5pYTAeFw0yMDAzMTgxODMyNTNaFw00NTAzMTUwMDAwMDBaMFIxJjAkBgNVBAMMHUFwcGxlIEFwcCBBdHRlc3RhdGlvbiBSb290IENBMRMwEQYDVQQKDApBcHBsZSBJbmMuMRMwEQYDVQQIDApDYWxpZm9ybmlhMHYwEAYHKoZIzj0CAQYFK4EEACIDYgAERTHhmLW07ATaFQIEVwTtT4dyctdhNbJhFs/Ii2FdCgAHGbpphY3+d8qjuDngIN3WVhQUBHAoMeQ/cLiP1sOUtgjqK9auYen1mMEvRq9Sk3Jm5X8U62H+xTD3FE9TgS41o0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBSskRBTM72+aEH/pwyp5frq5eWKoTAOBgNVHQ8BAf8EBAMCAQYwCgYIKoZIzj0EAwMDaAAwZQIwQgFGnByvsiVbpTKwSga0kP0e8EeDS4+sQmTvb7vn53O5+FRXgeLhpJ06ysC5PrOyAjEAp5U4xDgEgllF7En3VcE3iexZZtKeYnpqtijVoyFraWVIyd/dganmrduC1bmTBGwD\n-----END CERTIFICATE-----",
    "GooglePublicKey": "-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAr7bHgiuxpwHsK7Qui8xU\nFmOr75gvMsd/dTEDDJdSSxtf6An7xyqpRR90PL2abxM1dEqlXnf2tqw1Ne4Xwl5j\nlRfdnJLmN0pTy/4lj4/7tv0Sk3iiKkypnEUtR6WfMgH0QZfKHM1+di+y9TFRtv6y\n//0rb+T+W8a9nsNL/ggjnar86461qO0rOs2cXjp3kOG1FEJ5MVmFmBGtnrKpa73X\npXyTqRxB/M0n1n/W9nGqC4FSYa04T6N5RIZGBN2z2MT5IKGbFlbC8UrW0DxW7AYI\nmQQcHtGl/m00QLVWutHQoVJYnFPlXTcHYvASLu+RhhsbDmxMgJJ0mcDpvsC4PjvB\n+TxywElgS70vE0XmLD+OJtvsBslHZvPBKCOdT0MS+tgSOIfga+z1Z1g7+DVagf7q\nuvmag8jfPioyKvxnK/EgsTUVi2ghzq8wm27ud/mIM7AY2qEORR8Go3TVB4HzWQgp\nZrt3i5MIlCaY504LzSRiigHCzAPlHws+W0rB5N+er5/2pJKnfBSDiCiFAVtCLOZ7\ngLiMm0jhO2B6tUXHI/+MRPjy02i59lINMRRev56GKtcd9qO/0kUJWdZTdA2XoS82\nixPvZtXQpUpuL12ab+9EaDK8Z4RHJYYfCT3Q5vNAXaiWQ+8PTWm2QgBR/bkwSWc+\nNpUFgNPN9PvQi8WEg5UmAGMCAwEAAQ==\n-----END PUBLIC KEY-----",
    "AndroidCrlUrls": "https://android.googleapis.com/attestation/status",
    "AndroidPlayIntegrityUrl": "https://www.googleapis.com/auth/playintegrity",
    "AllowedDeveloperUsers": "ALLOWED_DEVELOPER_USERS_FISCAL_CODE_SEPARATED_BY_COMMA",
    "GoogleAppCredentialsEncoded": "GOOGLE_APP_CREDENTIALS_BASE64_ENCODED",
    "EntityConfigurationStorageAccountName": "ENTITY_CONFIGURATION_STORAGE_ACCOUNT_NAME",
    "EntityConfigurationStorageContainerName": "ENTITY_CONFIGURATION_STORAGE_CONTAINER_NAME",
    "StorageConnectionString": "STORAGE_ACCOUNT_CONNECTION_STRING",
    "WalletInstanceCreationEmailQueueName": "WALLET_INSTANCE_CREATION_EMAIL_QUEUE_NAME",
    "WalletInstanceRevocationEmailQueueName": "WALLET_INSTANCE_REVOCATION_EMAIL_QUEUE_NAME",
    "ValidateWalletInstanceCertificatesQueueName": "VALIDATE_WALLET_INSTANCE_CERTIFICATES_QUEUE_NAME",
    "PidIssuerApiBaseURL": "PID_ISSUER_API_BASE_URL",
    "PidIssuerApiClientCertificate": "PID_ISSUER_API_CLIENT_CERTIFICATE",
    "PidIssuerApiClientPrivateKey": "PID_ISSUER_API_CLIENT_PRIVATE_KEY",
    "PidIssuerApiRootCACertificate": "PID_ISSUER_API_ROOT_CA_CERTIFICATE",
    "PidIssuerHealthCheckEnabled": "PID_ISSUER_HEALTH_CHECK_ENABLED",
    "PidIssuerApiRequestTimeout": "PID_ISSUER_API_REQUEST_TIMEOUT",
    "HttpRequestTimeout": "HTTP_REQUEST_TIMEOUT",
    "SkipSignatureValidation": "SKIP_SIGNATURE_VALIDATION",
    "AppInsightsConnectionString": "APPLICATIONINSIGHTS_CONNECTION_STRING",
    "HardwarePublicTestKey": "HARDWARE_PUBLIC_TEST_PEM_BASE64_ENCODED",
    "SlackStatusChannelWebhook": "SLACK_STATUS_CHANNEL_WEBHOOK",
    "MailupUsername": "MAILUP_USERNAME",
    "MailupSecret": "MAILUP_SECRET",
    "MailSender": "MAIL_SENDER",
    "AuthProfileApiKey": "AUTH_PROFILE_API_KEY",
    "AuthProfileApiBaseURL": "AUTH_PROFILE_API_BASE_URL",
    "WalletAttestationWalletLink": "WALLET_ATTESTATION_WALLET_LINK",
    "WalletAttestationWalletName": "WALLET_ATTESTATION_WALLET_NAME",
    "WalletProviderCertificateCountry": "WALLET_PROVIDER_CERTIFICATE_COUNTRY",
    "WalletProviderCertificateState": "WALLET_PROVIDER_CERTIFICATE_STATE",
    "WalletProviderCertificateLocality": "WALLET_PROVIDER_CERTIFICATE_LOCALITY",
    "TrustAnchorURL": "TRUST_ANCHOR_URL"
  }
}