dist
.eslintcache
local.settings.json
.env*
.DS_Store
coverage
bin
obj
node_modules
.turbo
*.zip
generated

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Azurite Files (note - https://github.com/Azure/Azurite/pull/1061)
__azurite_db_blob_extent__.json
__azurite_db_blob__.json
__azurite_db_queue__.json
__azurite_db_table__.json
__azurite_db_queue_extent__.json
__blobstorage__
__queuestorage__

# terraform
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.tfsec
tfplan
# Crash log files
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
ignore_features.tf