# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-wallet
/infra/ @pagopa/io-wallet @pagopa/engineering-team-devex
/.github/workflows/ @pagopa/io-wallet @pagopa/engineering-team-devex
