{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CosmosDbEndpoint": "COSMOS_DB_ENDPOINT",
    "CosmosDbDatabaseName": "COSMOS_DB_DATABASE_NAME",
    "CosmosDbRequestTimeout": "COSMOS_DB_REQUEST_TIMEOUT",
    "HttpRequestTimeout": "HTTP_REQUEST_TIMEOUT",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "APPLICATIONINSIGHTS_CONNECTION_STRING"
  }
}
