{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "AzureWebJobsStorage",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CosmosDbDatabaseName": "wallet",
    "CosmosDbEndpoint__accountEndpoint": "cosmosdbendpoint",
    "CosmosDbRequestTimeout": "5000",
    "CosmosContainerName": "whitelisted-fiscal-codes-test",
    "StorageAccount__accountName": "storageaccountname",
    "StorageAccountContainerName": "fiscal-codes",
    "QueueName": "fiscal-codes",
    "BatchSize": "5000",
    "BulkChunkSize": "50",
    "DelayMs": "1000"
  }
}
