name: PR Infrastructure Plan

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "infra/resources/**"
      - ".github/workflows/pr_infra.yaml"
      - ".github/workflows/release_infra.yaml"

jobs:
  code_review_prod:
    uses: pagopa/dx/.github/workflows/infra_plan.yaml@main
    name: Code Review Infrastructure Plan
    secrets: inherit
    with:
      environment: prod
      base_path: infra/resources
