name: Release - GitHub Runner TF

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "infra/github-runner/**"

jobs:
  release_prod:
    uses: pagopa/dx/.github/workflows/infra_apply.yaml@main
    name: Release GitHub Runner
    secrets: inherit
    with:
      environment: prod
      base_path: infra/github-runner
