name: Deploy Function App PSN (iw-u-itn-user-func-01)

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
      - feat-add-terraform-workflow-plan-apply # remove after tests
    # paths:
    #   - "apps/io-wallet-user-func/CHANGELOG.md"

permissions:
  attestations: write
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@support/psn-adaptation #main - Temporary, to be removed when using specific psn environment
    secrets: inherit
    with:
      workspace_name: io-wallet-user-func
      environment: app-prod
      resource_group_name: iw-p-itn-wallet-rg-01
      web_app_name: iw-u-itn-user-func-01
      disable_auto_staging_deploy: true
      use_labels: true
      override_labels: psn
