name: Deploy Function App (user-uat-func)

on:
  workflow_dispatch: {}

permissions:
  attestations: write
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@main
    secrets: inherit
    with:
      workspace_name: io-wallet-user-func
      environment: app-prod
      resource_group_name: io-p-itn-wallet-rg-01
      web_app_name: io-u-itn-wallet-user-func-01
      disable_auto_staging_deploy: true
      use_labels: true
      override_labels: io
